body {
    background-color: aquamarine;
}

#login-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 640px;
    width: 1200px;
    border-radius: 256px 64px 256px 64px;
}

img:hover {
    border: solid 5px darkcyan;
}

h1 {
    width: 300px;
    padding-left: 10px;
}

#margin {
    margin: 10px 0 10px 0;
}





